.globalfooter {
    color: #FFF;
    font-weight: 400;
    line-height: 14px; /* 100% */
    padding: 9em 10.3em 4.5em;
    background-color: #1D1C1E;
}

.globalfooter .globalnav {
    border-bottom: 1px solid rgba(255, 255, 255, .1);;
    padding: 0 0 40px 0;
}

.contact {
    display: flex;
    justify-content: space-between;
    padding-top: 31px;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
}

.contact-address, .contact-methods {
    opacity: 0.5;
}

.contact .contact-social {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-basis: 34%;
    gap: 1em;
}

/* cta banner */
.cta-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: -70px;
    background-color: #E7816B;
    background-image: url(../assets/shared/desktop/bg-pattern-call-to-action.svg);
    background-size: cover;
    background-position: 35px;
    color: #fff;
    border-radius: 15px;
    padding: 4.5em 6em;
    margin: 0 10.3em;
}

.cta-banner-copy {
    display: flex;
    flex-direction: column;
    flex-basis: 49%;
}

.cta-banner-title {
    margin-bottom: .5em;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 40px; /* 100% */
}

.cta-banner-body {
    line-height: 26px; /* 162.5% */
}