.hero {
    display: flex;
    color: #fff;
    border-radius: 15px;
    background: #E7816B;
    background-image: url(../assets/home/desktop/bg-pattern-hero-home.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.hero-copy-wrapper {
    padding: 9em 0em 8.5em 6em;
    width: 50%;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}

.hero-title {
    /* margin-bottom: .67em; */
}

.hero-copy {
    width: 85%;
    line-height: 26px;
}

.hero-bgimage-wrapper {
    width: 50%;
    flex-basis: 50%;
    overflow: hidden;
    position: relative;
}

.hero-bgimage {
    background-size: 624px 913px;
    width: 624px;
    height: 913px;
    background-repeat: no-repeat;
    background-image: url(../assets/home/desktop/image-hero-phone.png);
    position: absolute;
    top: -25px;
}